@charset "UTF-8";
/* CSS Document */

/*top nav bar*/
body {margin:0;}

ul {
font-family: 'Bowlby One SC', cursive;
font-size: 20px;
  list-style-type: none;
  background-color: #ffb58d;
  position: relative;
  width: 100%;
height: 50px;
}

/* logo */
li {
  float: left;
}


/* logo */
li a {
  display: block;
  color: #603813;
  text-align: left;
  padding: 10px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #ff9971;
	padding: 10px;
}



header {
	height: 120px;
	width: 100%;
	margin-top: 50px;
	background-color: #ff9971;
}

nav{
	float: right;
	margin-top: 0px;
	padding: 0px;
	height: 50px;
	width: 60%;
	
}

.navbar{
	background-color: #ffb58d;
	height: 70px;
	width: 100%;
	float: left;
	
}

footer {
  position: relative;
height: auto;
	width: auto;
  text-align: center;
}


